.body{
    border-bottom: 2px solid white;
}


.input {
    &::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &:focus {
      outline: none;
      border: none;
    }
  }