.body {

  animation: alternate modal 0.2s ease-in;

  &::backdrop {
    backdrop-filter: blur(3px);
  }
}

@keyframes modal  {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}