.title {
  text-shadow: 0 2px 20px #d6eff7e3;
}

.title2 {
  background-image: linear-gradient(to right, white, rgba(197, 196, 196, 0.888) 44%, rgba(245, 245, 245, 0.707) 70%,);
  -webkit-background-clip: text;
  color: transparent; 
}