$border-color: #f5f5f593;

.budgetBar {
  background: linear-gradient(170deg, #943eeab4, #8633d974 40%, #cf6dcf3f 70%);
  border: 2px solid $border-color;
}

.goalBar {
  background: linear-gradient(190deg, #b78df245, #f6b3fe73 110%);
  border: 2px solid $border-color;
}

.numberInput {
  &::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &:focus {
    outline: none;
    border: none;
  }
}
