.body {
  background-image: url(/src/assets/universe-bg-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::backdrop{
    backdrop-filter: blur(3px);
  }
}

// toto sa ajtak bude musiet pravdepodobne uplne zmenit v zavislosti aby to bolo nastavitelne nezavisle od premennej v componente