.body {
  background: linear-gradient(
    20deg,
    #280440a3,
    #4317b27e,
    #150127,
    #d9b36c5b 110%
  );
  box-shadow: 0 0 20px 14px #4317b26a;
}

.restartBtn {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 10px 4px #f1cf6b8e;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(2px);
    animation: colorsChanging 8s ease-in-out infinite;
  }
}

@keyframes colorsChanging {
    0% {
        background-color: #f23105d0;
      }
      25% {
        background-color: #f27a35b7;
      }
      50% {
        background-color: #fdcb37ca;
      }
      100% {
        background-color: #f55e3dd0;
      }
}

.currencyBtn{
  background: transparent;
  transition: all 0.2s ease;
  &:hover{
    background: #0000ff58;
  }
}